.information__container {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 236px) 216px;
  column-gap: 20px;
}

.information__image {
  overflow: hidden;
}

.information__image img {
  transition: transform .5s ease;
}

.information__image:hover img {
  transform: scale(1.15);
}

@media screen and (max-width: 960px) {
  .information__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
  }
}

@media screen and (max-width: 666px) {
  .information__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    column-gap: 20px;
  }

  .information__content {
    order: 2;
  }

  .information__image {
    order: 1;
    text-align: center;
  }

  .information__image img {
    width: 130px;
  }
}