@import "src/assets/styles/fonts";
@import "src/assets/styles/colors";

.character__container {
  width: 125px;
  padding: 10px;

  background-color: hsl($hue-color, 80%, 99%);

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,.25);
}

.character__image {
  text-align: center;
  order: 1;
}

.character__img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.character__content {
  text-align: center;
  order: 2;
}

.character__name {
  font-size: $h2-font-size;
}
