$hue-color: 358; // Marvel red

$first-color: hsl($hue-color, 84%, 52%);
$first-color-second: hsl($hue-color, 69%, 61%);
$first-color-alt: hsl($hue-color, 57%, 53%);

$body-color: hsl($hue-color, 60%, 99%);
$header-color: hsl(0, 0%, 13%);

$title-color: hsl($hue-color, 8%, 15%);
$text-color: hsl($hue-color, 8%, 45%);
$text-color-light: hsl($hue-color, 8%, 65%);