@import './fonts';
@import './colors';
@use "sass:math";

$header-height: 4rem;
$footer-height: 3rem;

body {
  background-color: $body-color;
}

.container {
  position: relative;
  margin: calc(#{$header-height} + 2rem) 1rem calc(#{$footer-height} + 2rem) 1rem;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-font;
  color: $text-color;

  display: grid;
  grid-template-columns: repeat(auto-fill, 216px);
  column-gap: 20px;
  grid-template-rows: 324px;
  row-gap: 20px;

  justify-content: center;
}

h1, h2, h3, h4 {
  color: $title-color;
  font-weight: $font-semi-bold;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  background-color: $first-color;
  height: 1px;
  border: none;
}

@media screen and (max-width: 666px) {
  $header-height: 3rem;

  .container {
    margin: calc(#{$header-height} + 2rem) 1rem calc(#{$footer-height} + 2rem) 1rem;
  }
}